/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
so the canvas is flush with the top left corner.

**********************************************/
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@500&display=swap');

body {
  /* overflow-x: hidden;
  overflow-y: hidden; */
  user-select: none;
}

div {
  transition: transform 2s cubic-bezier(0.5, 1, 0.89, 1);
}

.text {
  font-size: 30px;
  color: lightgrey;
  font-family: 'M PLUS 1 Code', sans-serif;
  z-index: 0;
}

.active {
  color: black;
  font-size: 50px;
  z-index: 1;
}

.title {
  color: #ff4e26;
  font-size: 80px;
}

/* full-sized  container that fills up the page */
#pool {
  position: absolute;
  padding: 50px;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  /* background: transparent; */
  /* Optional: just make scrollbar invisible */
}